@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive;
    color: white;
    background-color: mediumpurple;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}